# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=moodle
MYSQL_USER=moodle_user
MYSQL_PASSWORD=your_mysql_user_password

# Moodle Configuration
MOODLE_VERSION=stable501
MOODLE_URL=https://packaging.moodle.org/stable501/moodle-latest-501.zip

# Moodle Database
MOODLE_DB_TYPE=mysqli
MOODLE_DB_HOST=localhost
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=mysql
MOODLE_DB_PASS=password
MOODLE_DB_PREFIX=mdl_
MOODLE_DB_COLLATION=utf8mb4_0900_ai_ci

MOODLE_WWW_ROOT=http://example.com
MOODLE_DATA_ROOT=/var/www/html/moodledata